*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'poppins', sans-serif;
    }
    body{
        background:#f5f7fb;
    }
    .container{
        display:flex;
        height:100vh;
        
    }
    .left-panel{
        width:50%;
        background:linear-gradient(135deg,#2563eb,#1d4ed8);
        color:white;
        display:flex;
        flex-direction:column;
        justify-content:center;
        padding: 60px;
    }
    .left-panel h1{
        font-size: 50px;
        margin-bottom: 15px;
        
    }
    .left-panel h2{
        margin-bottom:  20px;
    }
    .left-panel p{
        line-height: 1.8;
    }
    .login-card{
        width:50%;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        background:white;
    }
    form{
        width: 350px;
    }
    .input-box{
        display:flex;
        align-items:center;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 12px;
        margin-bottom: 20px;
    }
    .input-box input{
        width:100%;
        border:none;
        outline:none;
        margin-left:  10px;
    }
    button{
        width:100%;
        padding: 12px;
        border:none;
        background:#2563eb;
        color:white;
        border-radius: 8px;
        cursor:pointer;

    }
    button:hover{
        background:#1d4ed8;
    }
    .login-card{
        position:relative;

    }
    .login-card form{
        background:white;
        padding: 30px;
        border-radius:15px;
        box-shadow:0 10px 25px rgba(0,0,0,0.1);
    }
    .options{
        display:flex;
        justify-content:space-between;
        margin: 20px 0;
        font-size: 14px;
    }
    .options a{
        text-decoration:none;
        color:#2563eb;
        font-weight:500;

    }
    .options a:hover{
        text-decoration:underline;

    }
    button{
        transition:0.3s;

    }
    button:hover{
        transform:translateY(-2px);
    }
    /* Dashboard Styles*/
    .dashboard{
    display:flex;
    height:100vh;
}
    .dashboard-header{
    text-align:center;
    margin-bottom:40px;
}

.dashboard-header h1{
    font-size:42px;
    color:#1e293b;
    margin-bottom:10px;
}

.dashboard-header p{
    color:#64748b;
    font-size:18px;
}
.sidebar{
    width:250px;
    background:#1e293b;
    color:white;
    position:fixed;
    height:100vh;
}
    .sidebar h2{
        font-size:32px;
        margin-bottom:50px;
        color:white;
    }
    .sidebar ul{
        list-style:none;
    }
    .sidebar li{
        padding: 15px;
        margin-bottom: 10px;
        cursor:pointer;
        border-radius: 8px;
        transition:0.3s;

    }
    .sidebar li:hover{
        background:#334155;
    }
    .active{
        background:#334155;
        border-left: 4px solid #2563eb;
    }
    .sidebar i{
        margin-right: 10px;
    }
    .main-content{
    margin-left:250px;
    width:calc(100% - 250px);
    min-height:100vh;
    overflow-y:auto;
    padding:40px 50px;
    background:#f8fafc;
}
    .stats{
        display:flex;
        gap: 20px;
        margin-top: 35px;
        flex-wrap:wrap;

    }
    .card{
        background:white;
        width:220px;
        height: 140px;
        padding: 25px;
        border-radius: 15px;
        box-shadow:0 5px 15px rgba(0,0,0,0.08);
        transition:0.3s;

    }
    .card:hover{
        transform:translateY(-6px);

    }
    .card h3{
        color:#64748b;
        margin-bottom: 15px;

    }
    .card h2{
        color:#2563eb;
        font-size: 32px;
    }
    .search-container{
     margin:30px 0;
     display:flex;
     gap: 15px;   
    }
    .search-container input{
        flex:1;
        padding: 14px;
        border: 1px solid #d1d5db;
        border-radius: 10px;
        font-size: 16px;
        padding: left 18px;
    }
    .search-container button{
        width: 150px;
        border:none;
        border-radius: 10px;
        background:#2563eb;
        color:white;
        cursor:pointer;

    }
    /* Table styles */
    .device-table{
        width: 100%;
        margin-top:20px;
        border-collapse:collapse;
        background:#fff;
        border: radius 12px;
        overflow:hidden;
        box-shadow:0 5px 15px rgba(0,0,0,0.08);

    }
    .device-table th{
        background:#2563eb;
        color:white;
        padding: 16px;
        text-align:left;
    }
    .device-table td{
        padding: 15px;
        border-bottom:1px solid #e5e7eb;

    }
    .device-table tr:hover{
        background: #f8fafc;
    }
    .status-online{
        background:#dcfce7;
        color:#15803d;
        padding: 6px 12px;
        border-radius: 20px;
        font-weight:600;
        
    }
    .status-offline{
       background:#fee2e2;
        color:#dc2626;
        padding: 6px 12px;
        border-radius: 20px;
        font-weight:600; 
    }
    .action-btn{
        background:#2563eb;
        color:white;
         border:none;
        padding:8px 18px;       
        border-radius:8px;
        cursor:pointer;
        transition:0.3s;

    }
    .action-btn:hover{
        background:#1d4ed8;
        transform:scale(1.05);
    }
    .device-table tbody tr:nth-child(even){
        background:#f8fafc;
    }
    .chart-box{
        margin-top: 40px;
        background: white;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.01);
    }
    .chart-box h2{
        margin-bottom: 25px;
    }
    .bars{
        height: 220px;
        display: flex;
        justify-content:space-around;
        align-items:flex-end;
    }
    .bar{
        width: 50px;
        background:#2563eb;
        border-radius:10px 10px 0 0;
        transition: .3s;

    }
    .bar:hover{
        transform: scale(1.08);
    }
    .days{
        display:flex;
        justify-content:space-between;
        margin-top: 10px;
        color:#64748b;

    }
/* Setting page */
.settings-box{
    background:#ffffff;
    width: 500px;
    padding: 30px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}
.settings-box label{
    display:block;
    margin-bottom:8px;
    margin-top: 15px;
    font-weight:500;
    color:#1e293b;
}
.settings-box input{
    width:100%;
    padding: 12px;
    border:1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
    outline:none;
    margin-bottom: 10px;
}
.settings-box input:focus{
    border-color:#2563eb;
}

.settings-box button{
    margin-top:20px;
    width:100%;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

.settings-box button:hover{
    background:#1d4ed8;
    transform:translateY(-2px);
}
.sidebar a{
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
}
.sidebar a:hover{
    color: white;
}
/* Future Enhancements */
.future-section{
    margin-top: 40px;
}
.future-section h2{
    color:#1e293b;
    margin-bottom: 20px;
}
.future-cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.future-card{
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    flex: 1;
    min-width: 250px;
    transition: 0.03s;
}
.future-card:hover{
    transform: translateY(-5px);
}
.future-card h3{
    color: #2563eb;
    margin-bottom: 10px;
}
.future-card p{
    color: #64748b;
    line-height: 1.6;
}
/* AI Powered Feature Cards */

.feature-card{
    background:#ffffff;
    border-radius:15px;
    padding:20px;
    margin-top:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    border-left:5px solid #2563eb;
    transition:0.3s;
}

.feature-card:hover{
    transform:translateY(-5px);
}

.feature-card h3{
    color:#2563eb;
    margin-bottom:10px;
}

.feature-card p{
    color:#64748b;
    line-height:1.6;
    margin-bottom:15px;
}

.coming-soon{
    display:inline-block;
    background:#2563eb;
    color:white;
    padding:6px 14px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}